*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: hsl(234, 29%, 20%);
  --primary: hsl(4, 100%, 67%);
  --text: hsl(0, 0%, 58%);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  width: 700px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.right {
  width: 60%;
  margin-left: 20px;
}

.left {
  width: 40%;
}

.left img {
  width: 100%;
}

h1 {
  font-size: 40px;
  color: hsl(234, 29%, 20%);
  margin-bottom: 0;
}

ul {
  list-style-image: url(./assets/images/icon-list.svg);
}

li {
  margin-bottom: 8px;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  color: var(--bg);
  font-size: 12px;
  margin-bottom: 6px;
}
input {
  padding: 10px 15px;
  margin-bottom: 16px;
  border: 1px solid var(--bg);
  border-radius: 5px;
  font-size: 12px;
}
input::placeholder {
  color: var(--text);
  font-size: 12px;
}

button {
  padding: 10px 15px;
  background-color: var(--bg);
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

p {
  width: 340px;
  font-size: 14px;
}

/*hidden card*/
.hide {
  display: none;
}
.card-2 {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 20px;
}
.card-2 h1 {
  font-size: 40px;
}
.icon-card-2 {
  width: 50px;
}
.card-2 button {
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column-reverse;
    width: 95%;
    padding: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .card h1 {
    font-size: 30px;
  }
  .right {
    width: 100%;
    padding: 20px;
  }
  .left {
    width: 100%;
  }
  .left img {
    content: url("./assets/images/illustration-sign-up-mobile.svg");
  }
  form {
    width: 90%;
  }
  .card-2 {
    min-height: 100vh;
  }
}
