*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg: hsl(0, 0%, 58%);
  --primary: hsl(4, 100%, 67%);
  --text: hsl(234, 29%, 20%);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-form {
  width: 100%;
  display: grid;
  place-items: center;
}

.card {
  background-color: white;
  color: hsl(234, 29%, 20%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 375px;
  text-align: left;
  margin: 10px;
}
.card-text {
  padding: 20px;
  margin: 0;
}

.title {
  font-family: "Roboto", sans-serif;
  margin: 15px 0 25px 0;
  line-height: 1;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.features {
  padding: 0;
  list-style: none;
  margin: 0 0 24px;
}

.list__item {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.list__item span:first-child {
  display: flex;
  align-items: flex-start;
}

.list__item img {
  display: block;
  margin: 0;
}

form {
  padding: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

label {
  font-size: 14px;
  font-weight: 500;
}

input[type="email"] {
  padding: 16px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  outline: none;
}

input[type="email"]:focus {
  border-color: #242742;
}

placeholder {
  color: #bfbfbf;
}

button {
  padding: 16px;
  border: none;
  border-radius: 8px;
  background: #242742;
  color: #ffffff;
  font-size: 0.95rem;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.25s ease, transform 0.15s ease;
}

button:hover {
  background: linear-gradient(135deg, #ff5379, #ff693e);
  transform: translateY(-1px);
}
/*
.card.hidden {
  display: none;
}
*/

.card-hidden {
  background: #ffffff;
  max-width: 375px;
  padding: 32px;
}

img {
  display: block;
  margin: 20px 0 20px 0;
}

.dismiss-btn {
}
